
body {
	background-color: #93E4E7;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

nav {
	height: 50vh;
	width: 100%;
	color: #ffffff;
	padding-top:30vh;
}

h1 {
	font-size: 45px;
}

#background-image {
	padding: 20px;
	background-image: url("../images/donut_background_w.jpg");
}

.start-container {
	display: flex;
	width: 100%;
	flex-grow: 1;
}

.columns {
	flex: 1;
	padding: 20px;
}

.game-container {
	margin: 45px;
	height: 600px;
	width: 800px;
	margin: auto;
	margin-top: 45px;
	background-color: #93E4E7;
	position: relative;
}

.donut {
	position: absolute;
	max-width: 80px;
	max-height: 80px;
}

span {
	color: #F7BCCE;
	font-size: 30px;
}

button {
	background-color: #F3E902;
	color: #ffffff;
	padding: 4px 32px;
	font-size: 20px;
	border-radius: 25px;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

button:hover {
	background-color: #F7BCCE;
}

.results-container {
	background-image: url("../images/donut_background_w.jpg");
	display: none;
	padding: 35px;
}

.user-ate {
	font-size: 72px;
	color: #68C6BB;
}

.results {
	font-size: 72px;
	color: #F7BCCE;
}

.results-container button {
	margin: auto;
}

